{% extends "select/layout.html" %}
{% block head_includes %}
<title>Element Select Visualization</title>
<meta http-equiv="Cache-control" content="no-cache" />
<script type="text/javascript" src="{{ url_for('static', filename='select/jquery-1.6.4.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='select/select.js') }}" >
</script>
{% endblock %}
{% block body %}
<div class="document">
    <div class="page_title">
        Median of Medians Selection Algorithm Visualization
    </div>
    <div class="canvas">
        <canvas id="select_canvas" height="350" width="850"></canvas>
    </div>
    <div class="document_wrapper">
        <div class="body">
            <br />
            <div id="animation_options">
                <span class="option_label">Index:</span>
                <input id="select_index" type="number" 
                        min="0" max="424" value="6"> 
                <span class="option_label">Size:</span>
                <input id="element_count" type="number" 
                        min="5" max="425" value="125"> 
                <span class="option_label">Speed:</span>
                <input id="delay_slider" type="range" min="0" max="500" 
                        step="20">
                <button id="run_pause_button">Run</button>
                <button id="reset_button">Reset</button>
                <span id="canvas_desc"></span>
                <div>
            </div>
            <br />
            <div class="body_header">
                What is this?
            </div>
            <p>This is a visualization of the <a href='http://en.wikipedia.org/wiki/Selection_algorithm#Linear_general_selection_algorithm_-_Median_of_Medians_algorithm'>Median of Medians Selection Algorithm</a>. The wikipedia entry did not do it justice for me, so I decided to create this page. The median of medians selection algorithm allows you to find the value of the ith smallest element in an array of elements in linear (O(n)) time, and constant (O(1)) extra space (the array itself still takes up linear (O(n)) space).</p>
            <div class="body_header">
                Algorithm Explanation
            </div>
        <div>
            <p>Okay, so how does this algorithm work? Here is some pseudocode: (We'll break it down after)</p><code>
<pre>    select(array, n, start, end)
        if end - start &#060;= 5
            sort(array, start, end)
            return array[n]

        swap_index = start
        for each 5 elements from start to end
            sort(array, start of those 5 elements, start+4)
            swap the (now) 3rd element to the swap_index-th location
            swap_index = swap_index + 1

        newN = start + ((swap_index - start)/2) 
        median = select(array, newN, start, swap_index)

        location = pivot(array, median, start, end)
        if(location == n)
            return array[n]
        else if n &#062; newN
            return select(array, n, newN+1, end)
        else
            return select(array, n, start, newN)

    pivot(array, value, start, end)
        iterate from start to end to find the appropriate location for value

        iterate again moving all the elements larger than value to the right,
        and all the elements less than value to the left        

        return value's location</pre></code> 
        <p>Okay, now for the breakdown.</p>
        <p>This is a <a href="http://en.wikipedia.org/wiki/Recursion_(computer_science)">recursive algorithm</a>, so the first three lines handle the base case. The base case triggers when select is called with a range of fewer than 5 elements. The range is small enough that we can very simply return the answer without needing to make a recursive call.</p>
        <p>The rest of the code handles the case when we call <code>select</code> on range of more than 5 elements.</p>
        <p>The first five lines after the base case do a loop over the entire range of elements. For each group of five elements, it finds the median of those elements (by sorting), and then shifts those medians to the front. The medians are shifted to the front to group them together to assist with the next part.</p>
        <p>The next two lines recursively call <code>select</code> to find the median those medians.</p>
        <p>The final seven lines of <code>select</code> begin by using the median of medians as a pivot, putting all of the values lower than the median on one side, and all the higher values on the other. We use the median of medians as a pivot because (as we will prove in the next section) it guarantees that the pivot falls in the middle 40% of the array. If we were lucky enough to have used the nth smallest element as a pivot, we simply return that value. Otherwise, we have just divided the array into two sections, one containing only elements less than or equal to our pivot, and one containing only elements greater than or equal to our pivot, so we recursively call <code>select</code> on the appropriate subsection of the array.</p>
        <p>The next part is a brief outline of the pivot function.</p>
        <p>This pseudocode does not cover all of the corner cases, but I hope the general idea is clear.</p>
        </div>
        <div class="body_header">Proof</div>
        <p>Now that we've looked at the code, let's prove that it fits the run-time criteria we stated above.</p>
        <p>This algorithm can be characterized by what is called a <a href="http://en.wikipedia.org/wiki/Recurrence_relation">Recurrence Relation</a>. Let's take another look at the pseudocode and focusing on the run time for each section. Our goal is to find the <a href="http://en.wikipedia.org/wiki/Big_O_notation">big O</a> of this algorithm - O(f(n)).</p>
        <p>The base case can be bounded by a constant number of steps, so we are just going to ignore it.</p>
        <p>In the next section, assuming an initial array of n elements, s*n/5 operations are performed. s represents the number of operations within the for loop, and the loop is run n/5 times. Since the sorting of 5 elements can be done in fewer than some c (20 for example) operations, we say that s is O(1) time.</p>
        <p>The third section is a recursive call to find the median of medians. There were n/5 medians so we are calling <code>select</code> on an array of one fifth of the original size, so f(n/5).</p>
        <p>The final section contains a pivot and another recursive call. The pivot can be done in a single pass over the array, taking fewer than some c (10 for example) operations per element, so this term is O(n). The term for the recursive call is f(n * r) where the upper bound for r is based on the worst-case, smallest percentage of elements that we eliminate from the search space by using the median of medians as our pivot.</p>

        <p>r is at worst 7/10ths. Why? Think about what we are eliminating when we choose the median of medians as our pivot. When we run the algorithm we end up with a group of n/5 medians, and then we choose the median of this group. This means that there are n/10 medians greater than our pivot, and n/10 medians less than our pivot. For each of these medians we have also eliminated two more elements, since each median is the middle element in a group of five. So this is three elements per median that we remove from the search space, or 3/10ths, leaving us with at most 7/10ths of the original array to search.</p>

        <p>So combining our analysis we get f(n) = 20n/5 + f(n/5) + 10n + f(7n/10)</p>
        <p>Now we will assume that this is linear time and attempt to solve it. If it is linear time, then f(n) = cn.</p>
        <p>cn &lt;= 20n/5  + cn/5 + 10n + 7cn/10 </p>
        <p>c &lt;= 30/5  + 9c/10</p>
        <p>c/10 &lt;= 30/5</p>
        <p>c &lt;= 60</p>
        <p>f(n) &lt;= 60n, so f(n) is linear. </p>
        <p>Note that if the final term had been greater than or equal to f(8n/10), the solution would not be linear because in the third step above, the left hand side would have been less than or equal to 0. Since c cannot be negative, the equation becomes unsolvable.</p>
    </div>
    <br />
    <div class="footer">Created by Eric Shrewsberry, 2013</div>
    <br />
</div>
{% endblock %}
